# general
PORT=8000
ENVIRONMENT=DEV

# mongodb
MONGO_DB_CONNECTION_URI=mongodb-uri
MONGO_DB_ADMIN_USERNAME=user
MONGO_DB_ADMIN_PASSWORD=1234
MONGODB_USERS_DATABASE=users
MONGODB_USERS_COLLECTION=users
MONGODB_COUPLES_DATABASE=couples
MONGODB_COUPLES_COLLECTION=couples
