# general
PORT=8000
ENVIRONMENT=DEV

# mongodb
MONGODB_CONNECTION_URI=mongodb-uri
MONGODB_ADMIN_USERNAME=user
MONGODB_ADMIN_PASSWORD=1234
MONGODB_USERS_DATABASE=users
MONGODB_USERS_COLLECTION=users
MONGODB_COUPLES_DATABASE=couples
MONGODB_COUPLES_COLLECTION=couples

# rabbitmq
RABBITMQ_HOST=localhost
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=1234

# telegram
TELEGRAM_BOT_TOKEN=token
